/* CSS-kodS som definerar stilar för kontakt sida */

/* Allmänna stilar */
html {
  color: aliceblue;
}

body {
  background: url('https://themepack.me/i/c/749x467/media/g/1886/dark-car-theme-om7.jpg') no-repeat center center fixed;
  background-size: cover;
  margin-right: 10px;
}

/* Knappar */
#Homebutton {
  display: block;
  width: 200px;
  margin-left: 5px;
  background-color: #000;
  color: rgb(197, 197, 197);
  border: 4px solid #fff;
  border-radius: 5px;
  font-size: larger;
  font-family: impact;
  text-align: center;
  position: relative;
}

#Homebutton:hover {
  background-color: #4e5f55;
  color: rgb(1, 1, 1);
}

/* Huvudinnehåll */
main {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Rubriker */
h2 {
  color: aliceblue;
  text-align: center;
}

/* Formulär */
form {
  display: flex;
  flex-direction: column;
  color: aliceblue;
}

label {
  margin-bottom: 5px;
  color: aliceblue;
}

input, textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: aliceblue;
}

/* Skicka-knapp */
button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
