/*CSS-kod som definerar stilar för kontrollsida*/

/* Importera typsnitt från Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");

/* Allmän stil */
html {
  color: aliceblue;
}

body {
  background: url('https://themepack.me/i/c/749x467/media/g/1886/dark-car-theme-om7.jpg') no-repeat center center fixed;
  background-size: cover;
  margin-right: 10px;
  font-family: "Share Tech Mono", monospace;
}

/* Tangentbord */
.keyboard {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Kontainer för meddelanden */
.message-container {
  padding-top: 2.5em;
  text-align: center;
  margin-right: 10px;
}

/* Övre raden för tangentbordet */
.top-row {
  width: 140px;
  margin: 0 auto;
}

/* Nedre raden för tangentbordet */
.bottom-row {
  margin-left: 100px;
  display: inline-flex;
}

/* Tangentstilar */
.key {
  background-color: #585d68;
  color: #ffffff;
  width: 100px;
  height: 100px;
  margin: 15px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.07s ease;
}

.activeKey {
  background-color: maroon;
  transform: scale(1.1);
  position: relative;
  top: 0.2em;
  left: 0.2em;
}

/* Textstil för tangenter */
.key > p {
  font-size: 2em;
  margin: 0;
}

/* Specifik stil för W-tangenten */
.key.w-key {
  width: 100px;
  height: 100px;
}

/* Stil för Cirkel knappen */
#Circle {
  background-color: #585d68;
  color: #ffffff;
  width: 100px;
  height: 100px;
  margin: 15px;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.07s ease;
  cursor: pointer;
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  flex-direction: column;
  gap: 10px;
  font-family: "Share Tech Mono", monospace;
}

#Circle:active {
  background-color: maroon;
}

/* Stil för hemknappen */
#Homebutton {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-left: 5px;
  background-color: #000000;
  color: rgb(197, 197, 197);
  border: 4px solid #ffffff;
  border-radius: 5px;
  font-size: larger;
  font-family: impact;
  text-align: center;
}

#Homebutton:hover {
  background-color: #4e5f55;
  color: rgb(1, 1, 1);
}
