/* Koden har desamma stilar som Controller.css med minimal skillnad*/

@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");

html {
  color: aliceblue;
}

body {
  background-image: url('https://themepack.me/i/c/749x467/media/g/1886/dark-car-theme-om7.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-right: 10px;
  font-family: "Share Tech Mono", monospace;
}

.keyboard {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.message-container {
  padding-top: 2.5em;
  text-align: center;
  margin-right: 10px;
}

.top-row {
  width: 140px;
  margin: 0 auto;
}

.bottom-row {
  margin-left: 100px;
  display: inline-flex;
}

.key {
  background-color: #585d68;
  color: #ffffff;
  width: 100px;
  height: 100px;
  margin: 15px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.07s ease;
}

.activeKey {
  background-color: maroon;
  transform: scale(1.1);
  position: relative;
  top: 0.2em;
  left: 0.2em;
}

.key > p {
  font-size: 2em;
  margin: 0;
}

.key.w-key {
  width: 100px;
  height: 100px;
}

.right-buttons {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  font-family: "Share Tech Mono", monospace;
  flex-direction: column;
  gap: 10px;
}

#Circle {
  background-color: #585d68;
  color: #ffffff;
  width: 100px;
  height: 100px;
  margin: 15px;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.07s ease;
  cursor: pointer;
}

#Circle:active {
  background-color: maroon;
}

#Homebutton {
  display: block;
  width: 200px;
  margin-left: 0px;
  background-color: #000000;
  color: rgb(197, 197, 197);
  border: 4px solid #ffffff;
  border-radius: 5px;
  font-size: larger;
  font-family: impact;
  text-align: center;
}

#Homebutton:hover {
  background-color: #4e5f55;
  color: rgb(1, 1, 1);
}
