/* CSS-kod som definierar stilar på startsidan*/

body {
  background: url('https://themepack.me/i/c/749x467/media/g/1886/dark-car-theme-om7.jpg') no-repeat center center fixed;
  background-size: cover;
}

h1 {
  color: azure;
  text-align: center;
  margin-left: 5px;
}

button {
  display: block;
  width: 200px;
  margin: 0 auto 20px;
  margin-left: 5px;
  background-color: #000;
  color: rgb(197, 197, 197);
  border: 4px solid #fff;
  border-radius: 5px;
  font-size: larger;
  font-family: impact;
  text-align: center;
  position: relative;
}

.button:hover {
  background-color: #4e5f55;
  color: rgb(1, 1, 1);
}

#CursConButton {
  color: greenyellow;
  font-family: "Comic Sans MS", sans-serif;
}
