html {
    color: aliceblue;
}

body {
    background-image: url('https://themepack.me/i/c/749x467/media/g/1886/dark-car-theme-om7.jpg');
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    background-size: cover; /* Scales the image to cover the entire background */
    background-attachment: fixed; /* Makes the background image stay fixed in place */
    margin-right: 10px;
  }

#button3 {
  display: block; /* Display as block to stack vertically */
  width: 200px; /* Adjust as needed */
  margin-left: 15px auto; /* Center horizontally with top and bottom margin */
  margin-bottom: 20px;
  background-color: #ebe9e9;
  color: black;
  border: 4px solid #227d20;
  border-radius: 5px;
  font-size: larger;
  font-family: impact;
  text-decoration: none; 
  text-align: center; /* Center text */
  position: relative; left: 0px;
}